{% extends "base.html.twig" %}
{% block body %}

<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="{{ asset('Template/img/rene2.jpg')}}" class="img-responsive" alt=""/>
                </div>
                <!-- Profile Image -->
            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">{{ name}} {{ firstname }}</h1>
                    <span>Etudiante deuxième année de DUT MMI</span>
                </div>
                <p>
                    Bienvenue sur mon Curriculum Vitae.
                </p>


                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong> 19 Juin 1998</strong>
                            <small>NAISSANCE</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>FRANCE</strong>
                            <small>NATIONALITE</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>FRANCAIS <span>(langue maternelle)</span>,</br></br> Anglais <span>(écris, lu, parlé)</span>,</br></br> Espagnol <span>(Notions)</span>.</strong>
                            <small>LANGUE</small>
                        </div>
                    </div>
                </div>

                <ul class="social-icon">
                    <li><a href="https://fr.linkedin.com/in/jeanne-juquelier-66b5b0151"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="http://www.jeannejuquelier.fr/"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- .header-->

<section class="section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Mes Activités</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">100%</div>
                            <div class="item-stats-name">Travail réussi</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">94%</div>
                            <div class="item-stats-name">Dans les temps</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">87%</div>
                            <div class="item-stats-name">Dans le budget</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">100%</div>
                            <div class="item-stats-name">Dans la bonne humeur</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .activity-wrapper -->

<section class="work-history-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Historique de travail</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">15096</div>
                            <div class="item-stats-name">Heures travaillées</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">687</div>
                            <div class="item-stats-name">Travaux finis</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">30</div>
                            <div class="item-stats-name">Heures supplémentaires</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">24</div>
                            <div class="item-stats-name">Heure de réponse</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .work-history-wrapper -->

<section class="expertise-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Mes Specialités</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Montage</h3>

                            <p>
                                Montage de vidéos depuis petite. Réalisation d'un stage en tant qu'assistante monteuse
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Cadrage </h3>

                            <p>
                                Camérawomen lors du court-métrage <i>Knock-Knock</i> et du tournage d'Oreilles en boucle à la Cité des Arts de Chambéry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Compétences</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper">

                            <h3>AUDIOVISUEL</h3>

                            <div class="progress-item">
                                <span class="progress-title">Montage</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                                <!-- .progress -->
                            </div>
                            <!-- .skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Cadrage</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Ecriture</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 85%;"><span
                                            class="progress-percent"> 85%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Etallonage</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 68%;"><span
                                            class="progress-percent"> 68%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->


                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>COMMUNICATION ET DESIGN</h3>

                            <div class="progress-item">
                                <span class="progress-title">Communication digitale</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 95%"><span
                                            class="progress-percent"> 95%</span>
                                    </div>
                                </div>
                                <!-- .progress -->
                            </div>
                            <!-- .skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Infographie</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 50%"><span
                                            class="progress-percent"> 50%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                </div>
                <!--.row -->
            </div>
        </div>

    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Expériences</h2></div>
            </div>
            <div class="col-md-9">
                {% for experience in exps %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-item">
                            <small>(X - X)</small>
                            <h3>{{ experience.getName() }}</h3>
                            <h4>{{ experience.getLieu() }}</h4>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--.row-->
        </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-experience -->

<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2014 - 2016</small>
                            <h3>Baccalauréat Scientifique option Européenne</h3>
                            <h4>Lycée Saint Exupéry</h4>

                            <p>Bourg Saint Maurice</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2016 - 2018</small>
                            <h3>DUT des Métiers du Multimédia et de l'Internet</h3>
                            <h4>IUT1</h4>

                            <p>Grenoble</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-education -->

<section class="section-profile section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Traits de caractère</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{{ asset('Template/img/m-logo-studio.png')}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">DETERMINEE</a></h3>
                                    Toujours motivée, je sais ce que je veux. Ma persevérance est un véritable atout pour moi et mon travail.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{{ asset('Template/img/m-logo-freelancer.png')}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">SERIEUSE</a></h3>
                                    J'aime réaliser les tâches qui me sont données. Ce sont des défis pour moi, qui se doivent d'être réussis.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{{ asset('Template/img/m-logo-upwork.png')}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">ATTENTIVE</a></h3>
                                    Lors des travaux en équipe, je sais m'adapter en étant attentive aux attentes/idées/problèmes des autres qui m'entourent. Le travail est donc plus efficace.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{{ asset('Template/img/m-logo-peopleperhour.png')}}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">ORGANISEE</a></h3>
                                    J'ai une vie très organisée dans tout ce que j'entreprends. Il est plus facile ensuite d'être dans de meilleures conditions de travail et donc plus efficace.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-profile -->

<section class="section-wrapper section-loisirs">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Loisirs</h2></div>
            </div>
            <div class="col-md-9">
                {% for loisirs in loi %}
                 <div class="row">
                    <div class="col-md-3">
                        <div class="content-item">
                            <h3>{{loisirs.getName}}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--.row-->
        </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-loisir -->

<section class="section-wrapper portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a class="portfolio-item" href="#">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('Template/img/knock.JPG')}}" alt="">
                            </div>

                            <div class="portfolio-info">
                                <h3>Knock-Knock</h3>
                                <small><a href="https://www.youtube.com/watch?v=szvScgeEd3k&t=13s">Cliquer ici</a></small>
                            </div>
                            <!-- portfolio-info -->
                        </a>
                        <!-- .portfolio-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="portfolio-item" href="#">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('Template/img/sawce.JPG')}}" alt="">
                            </div>

                            <div class="portfolio-info">
                                <h3>SAWCE</h3>
                                <small><a href="https://youtu.be/_OBgf41HNS4">Cliquer ici</a></small>
                            </div>
                            <!-- portfolio-info -->
                        </a>
                        <!-- .portfolio-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="portfolio-item" href="#">
                            <div class="portfolio-thumb">
                                <img src="{{ asset('Template/img/maquette.JPG')}}" alt="">
                            </div>

                            <div class="portfolio-info">
                                <h3>Maquette</h3>
                                <small><a href="https://www.youtube.com/watch?v=wgcwSfYR2yg">Cliquer ici</a></small>
                            </div>
                            <!-- portfolio-info -->
                        </a>
                        <!-- .portfolio-item -->
                        </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- .portfolio -->

<section class="review-section section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Avis récents</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div id="review">
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('Template/img/barbie.jpg')}}" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Barbie</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="5.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-5">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>


                        <div class="review-text">
                            Jeanne est vraiment très sympa et sérieuse dans son travail.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('Template/img/sacha.jpg')}}" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Sacha</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="4.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-4">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Souriante, ponctuelle et efficace. Je recommande
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('Template/img/pere.jpg')}}" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Père Noël</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="4.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-4">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Très sage. Dynamique, bonnes methodes, ...
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('Template/img/oui.jpg')}}" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Oui-Oui</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="5.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-5">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Je dis oui !!!
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('Template/img/groot.jpg')}}" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Groot</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="1.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-1">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Je s'appelle Groot.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                </div>
                <!--#review-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- .review-section -->

<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <strong>Addresse postale</strong><br>
                            139 route de Longefoy<br>
                            73210 La Plagne Tarentaise

                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Téléphone</strong><br>
                            0771827697
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">jeanne.juquelier@orange.fr</a>
                        </address>
                    </div>

                </div>
                <!--.row-->

                <div class="feedback-form">
                    <h3>Rentrons en contact</h3>

                    <form id="contactForm" action="sendemail.php" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" required="" class="form-control" id="InputName"
                                   placeholder="Nom complet">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" required="" class="form-control" id="InputEmail"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" id="InputSubject"
                                   placeholder="Sujet">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" required="" name="message" id="message-text"
                                      placeholder="Ecrivez votre message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
                <!-- .feedback-form -->

            </div>
        </div>
        <!--.row-->

    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">&copy; MyProfile, All rights reserved | Design By: <a
                            href="https://themehippo.com">themehippo</a></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->

</div>
<!-- #main-wrapper -->

{% endblock %}